@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Comfortaa', cursive;
}
body {
    background-image: url(images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 630px;
}
.box-wrap  {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-55%, -55%);
    max-width: 550px;
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 10px;
    display: flex;
    justify-content: space-between;
    }
.box-wrap .input {
    width: 90%;
    padding: 17px 22px;
    border-radius: 25px;
    font-weight: bold;
}
.google-search {
    position: absolute;
    top: 400px;
    left: 530px;
    padding: 8px;
    border-radius: 4px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    background-color: rgb(250, 248, 248);
}
.lucky-button {
    position: absolute;
    top: 400px;
    left: 645px;
    padding: 8px;
    border-radius: 4px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    background-color: rgb(250, 248, 248);
}
.google-logo {
    position: absolute;
    width: 272px;
    height: 92px;
    top: 230px;
    left: 510px;
}

input:hover {
    border: 1px solid #999;
    border-radius: 20px; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 7px 9px;
    color: rgba(17, 17, 17, 0.897);
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
}
li a:hover {
    text-decoration: underline;
}
.google-footer {
    bottom: 0;
    padding: 7px 9px;
    width: 98%;
    position: fixed;
}